html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
  }
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-purple {
  background-color: var(--purple);
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.lh-100 {
  line-height: 1;
}
.lh-125 {
  line-height: 1.25;
}
.lh-150 {
  line-height: 1.5;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 50px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.cube-area {
  position: absolute;
  height: 480px;
  width: 320px;

  perspective: 600;
}

.cube {
  position: relative;
  top: 140px;
  left: 60px;
  height: 200px;
  width: 200px;

  /*top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;*/

  transform-style: preserve-3d;
  animation: gocrazy 6s infinite;

  /*include rotate to see the cube in other perspective */
  /*transform: rotateX(-45deg) rotateY(-45deg);*/
}

.face {
  position: absolute;
  height: inherit;
  width: inherit;
  opacity: 0.5;
}

.face.front {
  background-color: red;
  transform: translateZ(100px);
}

.face.right {
  background-color: green;
  transform: translateX(100px) rotateY(90deg);
}

.face.left {
  background-color: blue;
  transform: translateX(-100px) rotateY(-90deg);
}

.face.back {
  background-color: orange;
  transform: translateZ(-100px) rotateY(180deg);
}

/* Animations */

@keyframes gocrazy {
  from {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleZ(0);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) scaleZ(2);
  }
}

/* JS triggers */

.cube.gocrazy {
  animation: gocrazy 3s ease 0s infinite alternate;
}
